<div class="comment">
  <div class="title">
    <%= kitten_emojis.sample %>&nbsp;<%= comment.title %>
  </div>
  <div class="body">
    <%= comment.body %>
  </div>

  <!-- Change area -- enable by making it output with an `=` -->
  <% render partial: 'likes/like', locals: { comment: comment } %>
</div>